@font-face {
    font-family: digital;
    src: url(digital-7.regular.ttf);
}
  
body {
    margin: 0;
    color: #9AABD8; 
    background-color: #1b244a;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3{
    color: #EEEEEE;
    font-size: 35px;
    text-align: center;
    margin-bottom: 5px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 500px;
    width: 500px; 
    justify-content: space-around;
    margin: 70px auto;
 
    
}

#score-home, #score-guest{
  
    display: flex;
    justify-content: space-around;
    background: #000;
    border-radius: 4px;
    padding: 20px;
    font-size: 70px;
    color: #F94F6D;
    font-family: digital;
    
}


#buttons{
    display: flex;
    justify-content: space-around;
    background: #1b244a;
    padding: 15px;;
    
}

#add1-btn, #add2-btn, #add3-btn{
    border: 2px solid #9AABD8;
    border-radius: 4px;
    margin: 15px 10px;
    padding: 10px;
    
}

#reset-btn{
    display: flex;
    flex-wrap: wrap;
    color: #EEEEEE;
    background-color: darkred;
    border-radius: 4px;
    margin: 15px 10px;
    padding: 20px 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
